<!DOCTYPE html>
<html>
  <head>
    <title>FgEvent</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <% if admin_user_signed_in? %>
      Logged in as <strong><%= current_admin_user.email %></strong> (Admin). </br>
      <%= link_to "ログアウト", destroy_admin_user_session_path, method: :delete %>
    <% end %>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert%></p>
    <%= yield %>
  </body>
</html>
